html {
	height: auto; /* print fix */
}

body {
	font: normal 14px Tahoma, sans-serif;
	color: #000;
}

h4 {
	margin-top: 20px;	
}

table:not(.info) tbody tr:nth-child(even) {
	background-color: #eee;
}

table.info {
	font-size: 11px;
}

#info_cli {
	margin-top: 10px;
	border: 1px solid #DDD;
	border-radius: 5px;
	background-color: #EEE;
	padding: 0 10px 10px 10px;
	font-size:	12px;
	display:none;
}
#info_cli h4{
	margin: 5px 0 5px 0;
	text-decoration: underline;
}

#info_pro {
	margin-top: 10px;
	border: 1px solid #DDD;
	border-radius: 5px;
	background-color: #EEE;
	padding: 0 10px 10px 10px;
	font-size:	12px;
	display:none;
}
#info_pro h4{
	margin: 5px 0 5px 0;
	text-decoration: underline;
}

.info_cli {
	margin-top: 10px;
	border: 1px solid #DDD;
	border-radius: 5px;
	background-color: #EEE;
	padding: 0 10px 10px 10px;
	font-size:	12px;
}
.info_cli h4{
	margin: 5px 0 5px 0;
	text-decoration: underline;
}

.cx {
	border: 1px solid #ddd;
	background-color: #eee;
	padding: 0 10px 10px 10px;
	margin-top: 10px;
}

.cx h4 {
	margin-top: 10px;
}

.cx p {
	float: left;
	margin-right: 10px;
	min-height: 68px;
}

.cx div {
	clear: both;
}

.barra{
	font-size: 14px;
	padding-top: 5px;
	height: 40px;
	border-bottom: 1px solid #000;
	background: #126059;
	color: white;
	padding-bottom: 10px;
	font-weight: bold;
	text-shadow: 0 1px 1px #3E6790;	
}
.barra #home-link a
{
	margin-top: 	0px;
	margin-left: 	5px;
	float: 			left;
	width: 			46px;
	height: 		46px;
	background: 	url('../img/home_icon.png') no-repeat;
	background-position: 0px top;
}

.barra #home-link a:hover
{
	float: 						left;
	width: 						46px;
	height: 					46px;
	background: 				url('../img/home_icon.png') no-repeat;
	background-position: 		0px bottom;
}

.barra #voltar
{
	float: left;
}

.barra #voltar a
{
	float: left;
	margin-left: 5px;
}

.barra #voltar-link a
{
	float: left;
	color: #FFF;
	margin-top: 3px;
	margin-left: 5px;
}
.barra #voltar-link a.notificacoes
{
	margin-top: 			0px;
	float: 					left;
	width: 					46px;
	height: 				46px;
	background: 			url('../img/aviso.png') no-repeat;
	background-position: 	0px top;
}
.barra #voltar-link a.notificacoes-ativo
{
	float: 					left;
	width: 					46px;
	height: 				46px;
	background: 			url('../img/aviso.png') no-repeat;
	background-position: 	0px bottom;
}
.empresas{
	padding:	0 4px 0 0;
	position:	absolute;
	right:		0;
}
.barra .empresas h2 {
	color: 			#FFF !important;
	font:			bold 23px "Lucida Sans", sans-serif !important;		
	border-bottom: 	none !important;
	margin-top: 	0px !important;
	text-transform: capitalize !important;
	text-shadow: 	1px 1px 1px #0000 !important;
}
.status_online{
	width: 		100%;
	height: 	15px;
	z-index: 	1;
	background-color: #126059;
	clear:		left;
	padding: 	2px 2px 2px 2px;
	text-align: right;
	position:  	fixed;
	bottom: 	0px;
	right: 		0px;
	color: 		#FFF;
}
.status_online div#representante
{
	float: left;
	margin-left: 5px;
}
.status_online div#internet
{
	float: right;
	margin-right: 5px;
}

.dashboard li{
	list-style: none;
}
.dashboard li.icone {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	border-radius: 3px;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
	width: 130px;
	min-height:130px;
	float: left;
}
.dashboard li.icone:hover {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	border-radius: 3px;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
	width: 130px;
	min-height:130px;
	float: left;
}
.dashboard li.icone:hover a{	
	display:block;
	width: 130px;	
	min-height:90px;
	padding-top: 30px;
	color:#666;
	float: left;
}

.dashboard li.icone a{	
	display:block;
	width: 130px;	
	min-height:90px;
	padding-top: 30px;
	float: left;
}

.dashboard li.icone span {
	display: block;
	margin-top: 5px;
}
.icone {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	border-radius: 3px;
	border: solid 1px #CCC;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
	width: 130px;
	min-height:160px;
	float: left;
	-moz-box-shadow:    0px 0px 4px 1px #DEDEDE;
  	-webkit-box-shadow: 0px 0px 4px 1px #DEDEDE;
  	box-shadow:         0px 0px 4px 1px #DEDEDE;
}
.icone:hover {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	border-radius: 3px;
	border: solid 1px #CCC;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
	width: 130px;
	min-height:160px;
	float: left;
	-moz-box-shadow:    0px 0px 4px 1px #DEDEDE;
  	-webkit-box-shadow: 0px 0px 4px 1px #DEDEDE;
  	box-shadow:         0px 0px 4px 1px #DEDEDE;
}
.icone a{	
	display:block;
	width: 130px;	
	min-height:160px;
	padding-top: 10px;
	float: left;
}
.icone:hover a{	
	display:block;
	width: 130px;
	color:#000;	
	min-height:160px;
	padding-top: 10px;
	float: left;
}

.icone span {
	display: block;
	margin-top: 5px;
}




input {
	padding: 2px;
}

small {
	font-size: 11px;
}

@media print {
	body, table, .novo_grid {
		font-size: 8px;
	}
	
	h2 {
		font-size: 12px;
	}
	
	h4 {
		font-size: 10px;
		margin-top: 15px;
	}
	
	table.info {
		font-size: 8px;
		margin-right: 5px;
	}
	
	table.info th, table.info td, .novo_grid thead tr th, .novo_grid tbody tr td {
		padding: 2px;
	}
	
	small {
		font-size: 8px;
	}
}

.obrigatorio{
	border: 1px solid red !important;
}

.aviso{
	color: red;
	font-style: italic;
	font-size: 11px;
}

.titulo{
	height: 15px;
}

.titulo input[type=checkbox] {
	/* Double-sized Checkboxes */
	-ms-transform: scale(4); /* IE */
	-moz-transform: scale(4); /* FF */
	-webkit-transform: scale(4); /* Safari and Chrome */
	-o-transform: scale(4); /* Opera */
	margin: 0 20px 0 10px;
	display:block;
	float: left;
}

.titulo label{
	display:block;
	float: left;
}

//----------

.teste{
	border: 5px solid red !important;
}

.hidden_input{
	display: none;
}



.dashboard-stat{
	position: relative;
	display: block;
	padding: 30px 20px;
	background-color: #eee;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: hidden;
	float: left;
	margin: 5px;
	width: 100%;
}

.dashboard-stat,
.dashboard-stat:hover,
.dashboard-stat:active,
.dashboard-stat:focus {
	color: #666;
	text-decoration: none;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
	outline: none;
}
.dashboard-stat i,
.dashboard-stat:hover i,
.dashboard-stat:active i,
.dashboard-stat:focus i {
	color: #e4e4e4;
}
.dashboard-stat:hover {
	background-color: #e6e6e6;
}
.dashboard-stat:hover i {
	color: #dcdcdc;
}
.dashboard-stat:active {
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.dashboard-stat.primary,
.dashboard-stat.primary:hover,
.dashboard-stat.primary:active {
	color: #FFF;
	background-color: #e5412d;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.dashboard-stat.primary i,
.dashboard-stat.primary:hover i,
.dashboard-stat.primary:active i {
	color: #dd301b;
}
.dashboard-stat.primary:hover {
	background-color: #e3351f;
}
.dashboard-stat.primary:hover i {
	color: #d42e1a;
}
.dashboard-stat.secondary,
.dashboard-stat.secondary:hover,
.dashboard-stat.secondary:active {
	color: #FFF;
	background-color: #f0ad4e;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.dashboard-stat.secondary i,
.dashboard-stat.secondary:hover i,
.dashboard-stat.secondary:active i {
	color: #eea236;
}
.dashboard-stat.secondary:hover {
	background-color: #eea236;
}
.dashboard-stat.secondary:hover i {
	color: #ec9924;
}
.dashboard-stat.tertiary,
.dashboard-stat.tertiary:hover,
.dashboard-stat.tertiary:active {
	color: #FFF;
	background-color: #888888;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.dashboard-stat.tertiary i,
.dashboard-stat.tertiary:hover i,
.dashboard-stat.tertiary:active i {
	color: #7b7b7b;
}
.dashboard-stat.tertiary:hover {
	background-color: #7b7b7b;
}
.dashboard-stat.tertiary:hover i {
	color: #717171;
}
.dashboard-stat .visual {
	z-index: 10;
	float: right;
	width: 54px;
	height: 100%;
}
.dashboard-stat .details {
	position: relative;
	z-index: 11;
	float: left;
	margin-top: -10px;
	text-align: left;
}
.dashboard-stat .value {
	display: block;
	font-size: 28px;
	font-weight: 600;
}
.dashboard-stat .content {
	display: block;
	margin-bottom: 1em;
	font-size: 19px;
	font-weight: 600;
	text-transform: uppercase;
}
.dashboard-stat .visual i {
	position: absolute;
	left: 0;
	left: auto;
	right: 0;
	bottom: 0;
	display: block;
	height: 72px;
	font-size: 72px;
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
	text-shadow: none;
}
.dashboard-stat .more {
	position: absolute;

	right: 10px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.25) !important;
	text-shadow: none;
}

.resultados{
	float:left;
	width: 30%;
}


span.bolinha_alerta {
    position: absolute;   
    margin-left: 98px;
    margin-top: 5px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background: url(../img/status_pendente2.png) no-repeat center center;
   
    font-weight: bold;
    font-size: 10px;
    color: #FFF;
}